{
  "plugins": [
    "react-hot-loader/babel",
    [
      "transform-imports",
      {
        "lodash": {
          "transform": "lodash/${member}",
          "preventFullImport": true
        }
    }]
  ],
  "presets": ["@babel/react", "@babel/env"]
}
