{
  "plugins": [
    ["react-hot-loader/babel"],
    [
      "transform-imports",
      {
        "lodash": {
          "transform": "lodash/${member}",
          "preventFullImport": true
        }
    }],
    ["babel-plugin-styled-components"],
    ["transform-class-properties"],
  ],
  "presets": ["@babel/react", "@babel/env"]
}
