.input-list-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
}

.input-list-input-right {
    flex: 5;
}

.input-list-input-left {
    flex: 1;
}

.input-list-container {
    display: flex;
    flex-direction: column;
}