.title {
	padding: 20px
}

.welcome-section {
	position: absolute;
	width: 100%;
}

.breath {
  -webkit-animation: breath 3s; 
          animation: breath 3s;
  -webkit-animation-iteration-count:infinite;
          animation-iteration-count:infinite;
}

@-webkit-keyframes breath {
  0%    {opacity:   0;}
  60%   {opacity:   1;}
  100%  {opacity:   0;}
}
@-o-keyframes breath {
  0%    {opacity:   0;}
  60%   {opacity:   1;}
  100%  {opacity:   0;}
}
@-moz-keyframes breath {
  0%    {opacity:   0;}
  60%   {opacity:   1;}
  100%  {opacity:   0;}
}
@keyframes breath {
  0%    {opacity:   0;}
  60%   {opacity:   1;}
  100%  {opacity:   0;}
}