.title {
	padding: 20px
}

.welcome-section {
	position: absolute;
	width: 100%;
}

.blink {
  -webkit-animation: blink 4s;
          animation: blink 4s;
  -webkit-animation-iteration-count:infinite;
          animation-iteration-count:infinite;
}

.breath {
  -webkit-animation: breath 3s;
          animation: breath 3s;
  -webkit-animation-iteration-count:infinite;
          animation-iteration-count:infinite;
}

.app-banner {
	position: fixed;
	bottom: 0;
	margin-bottom: 10px;
	flex: 1;
	display: flex;
	justify-content: center;
	width: 100%;
}

@-webkit-keyframes breath {
  0%    {opacity:   0;}
  60%   {opacity:   1;}
  100%  {opacity:   0;}
}
@-o-keyframes breath {
  0%    {opacity:   0;}
  60%   {opacity:   1;}
  100%  {opacity:   0;}
}
@-moz-keyframes breath {
  0%    {opacity:   0;}
  60%   {opacity:   1;}
  100%  {opacity:   0;}
}
@keyframes breath {
  0%    {opacity:   0;}
  60%   {opacity:   1;}
  100%  {opacity:   0;}
}

@-webkit-keyframes blink {
  0%    {opacity:   1;}
  10%    {opacity:   1;}
  22%   {opacity:   0.2;}
  34%   {opacity:   1;}
  100%  {opacity:   1;}
}
@-o-keyframes blink {
  0%    {opacity:   1;}
  10%    {opacity:   1;}
  22%   {opacity:   0.2;}
  34%   {opacity:   1;}
  100%  {opacity:   1;}
}
@-moz-keyframes blink {
  0%    {opacity:   1;}
  10%    {opacity:   1;}
  22%   {opacity:   0.2;}
  34%   {opacity:   1;}
  100%  {opacity:   1;}
}
@keyframes blink {
  0%    {opacity:   1;}
  10%    {opacity:   1;}
  22%   {opacity:   0.2;}
  34%   {opacity:   1;}
  100%  {opacity:   1;}
}
